.skill-container {
  width: 100%;
  background: #8d8d8d;
  border-radius: 25px;
}
#skillbar_sets_618c4f9c7cbb p {
  font-size: 20px;
  margin-top: 30px;
}
.skill {
  text-align: right;
  color: rgb(255, 255, 255);
  border-radius: 25px;
}

.html {
  width: 65%;
  background-color: #4caf50;
}
.css {
  width: 60%;
  background-color: #2196f3;
}
.js {
  width: 75%;
  background-color: #f47c36;
}
.react {
  width: 80%;
  background-color: #1900ff;
}
.sharepoint {
  width: 80%;
  background-color: #07b9ff;
}
.spfx {
  width: 80%;
  background-color: #027a83;
}
.restAPI {
  width: 75%;
  background-color: #623a96;
}
.mysql {
  width: 40%;
  background-color: #05442a;
}
.csharp {
  width: 45%;
  background-color: #290169;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
  height: 100%;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  background: none;
  border: none;
  z-index: 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 3rem;
  color: #fff;
}
.carousel-control-prev {
  left: -5%;
}

.carousel-control-next {
  right: -5%;
}
.carousel-indicators {
  bottom: -45px;
  z-index: 0;
}

#polina {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.3);
  color: white;

  


  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: 0.3rem;
}

#polina button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.bildenji{
  
}